---
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";

interface Article {
  title: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  pubDate: string;
}

const articles = await Astro.glob<Article>("../pages/articles/*.md");
const pageTitle = "Articles";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div>
    {
      articles
        .sort(function (a, b) {
          return (
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime()
          );
        })
        .map((post) => (
          <Card
            url={post.url}
            image={post.frontmatter.image}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
            pubDate={post.frontmatter.pubDate}
          />
        ))
    }
  </div>
</BaseLayout>
