---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
const allPosts = await Astro.glob("../pages/articles/*.md");
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <div>
    {
      allPosts
        .sort(function (a, b) {
          return (
            new Date(b.frontmatter.pubDate).getTime() -
            new Date(a.frontmatter.pubDate).getTime()
          );
        })
        .map((post) => (
          <Project
            url={post.url}
            image={post.frontmatter.image}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
          />
        ))
    }
  </div>
</BaseLayout>
