---
interface Props {
  url?: string;
  title: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  pubDate?: string;
}

const { url, title, image, description, pubDate } = Astro.props;
---

<div>
  <a class="secondary" href={url}>
    <article>
      <h5>{title}</h5>
      <small class="description">{description}</small>
      <img src={image.url} alt={image.alt} />
      {pubDate && <small class="footer">{pubDate.slice(0, 10)}</small>}
    </article>
  </a>
</div>
<style>
  h5 {
    margin-bottom: 0 !important;
  }

  div {
    max-width: 700px;
  }

  .description {
    margin-bottom: 5;
  }

  .footer {
    margin: 0;
  }

  a,
  u {
    color: inherit;
    text-decoration: none !important;
  }
</style>
